[room0]
enemies = telemarketer
south = 
west = room1
north = room2
east = room3
npc = tourGuide,BattleDude
item = brouchure
descriptions = as you start youre journey a deranged telemarketer approaches you; after you defeat the deranged telemaketer you see two men one in a nice suit and the other what appear to be in khakis; you see two men one in a nice suit and the other what appear to be in khakis
event = enterroom, post enemy battle; Had met no NPCs; Met NPC01, Met NPC02
havevisited = false
metnpc0 = false
metnpc1 = false

[room0]
enemies = telemarketer
south = 
west = room1
north = room2
east = room3
npc = tourGuide,BattleDude
item = brouchure
descriptions = its an empty room empty room
event  = enterroom

